<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <properties resource="db.properties"/>

  <typeAliases>
    <package name="com.football.model"/>
  </typeAliases>

  <environments default="dev">
    <environment id="dev">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mybatis/mappers/Managers.xml"/>
    <mapper resource="mybatis/mappers/Stadiums.xml"/>
    <mapper resource="mybatis/mappers/Teams.xml"/>
    <mapper resource="mybatis/mappers/Players.xml"/>
    <mapper resource="mybatis/mappers/Positions.xml"/>
    <mapper resource="mybatis/mappers/PlayerPositions.xml"/>
    <mapper resource="mybatis/mappers/Contracts.xml"/>
    <mapper resource="mybatis/mappers/Seasons.xml"/>
    <mapper resource="mybatis/mappers/SeasonTeams.xml"/>
    <mapper resource="mybatis/mappers/Matches.xml"/>
    <mapper resource="mybatis/mappers/MatchResults.xml"/>
    <mapper resource="mybatis/mappers/Goals.xml"/>
    <mapper resource="mybatis/mappers/Transfers.xml"/>
    <mapper resource="mybatis/mappers/TrainingSessions.xml"/>
    <mapper resource="mybatis/mappers/PlayerStatistics.xml"/>
  </mappers>
</configuration>
